*{

    font-family: 'Raleway', sans-serif;
}


.Heading{
    height:100px;
    width:100%;
    background-color: tomato;
    color: #fff;
    text-align: center;
    padding: 10px;
}


img{
    height: 310px;
    width: 290px;
    transition: 0.5s;
}
img:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.rectangle{
    height: 280px;
    width:380px ;
}
input{
    height:30px;
    width:60px;
    margin-top: 10px;
}
button{
    font-size:17px;
    font-weight: bold;
    background-color: rgb(252, 62, 28);
    color:#fff;
    padding: 5px;
    border-radius: 6px;
    width: 150px;
    border:none;
}
